<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderinventory.stock.mapper.ProductStockMapper">

    <resultMap id="BaseResultMap" type="com.example.orderinventory.stock.entity.ProductStock">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="availableQuantity" column="available_quantity" jdbcType="INTEGER"/>
            <result property="lockedQuantity" column="locked_quantity" jdbcType="INTEGER"/>
            <result property="totalInQuantity" column="total_in_quantity" jdbcType="INTEGER"/>
            <result property="totalOutQuantity" column="total_out_quantity" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>


    <update id="deductStock">
        update product_stock
        set available_quantity
                               = available_quantity - #{quantity},
            total_out_quantity =total_out_quantity + #{quantity},
            version            = version + 1
        where product_id = #{productId}
          and available_quantity >= #{quantity}
          and is_deleted = 0
    </update>
</mapper>
